@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Домашняя работа Ершов Никита 1223</h1>
    <p>
        Команды для доступа к контролерам
        <br><a href="https://localhost:7085/api/Test/random">Случайное число от 1 до 10</a>
        <br><a href="https://localhost:7085/api/Test/string">Склейка двух строк</a>
        <br><a href="https://localhost:7085/api/Test/multiply/6">Умножение числа на 2</a>
    </p>
</div>
